Source: libyosh-gateway
Section: utils
Maintainer: Dzove855 <dzove855@yoctu.com>
Build-Depends: debhelper
Standards-Version: 0.8.20

Package: libyosh-gateway
Architecture: all
Maintainer: Dzogovic Vehbo <dzove855@yoctu.com>
Priority: optional
Depends: jq, yosh, mysql-client
Description: libyosh-gateway (yoctu shell) - Micro Web Framework lib
